## Data cleaning

In [1]:
# Import neccessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings

warnings.filterwarnings("ignore", category = FutureWarning)
warnings.filterwarnings("ignore", category = UserWarning)

# Set display options for pandas series and dataframs
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)

print("Data Cleaning and Preprocessing")
print("=" * 50)
print(f"Analysis Date: {datetime.now().strftime('%Y-%m-%d %H:%M')}")

Data Cleaning and Preprocessing
==================================================
Analysis Date: 2025-09-01 14:37

### _1. Load and Document All Datasets_

In [2]:
# file paths
rwa_data_path = '../data/raw/'
processed_data_path = '../data/processed/'

# Load all neccessary datasets with error handling
try:
    orders = pd.read_csv(f'{rwa_data_path}olist_orders_dataset.csv')
    order_items = pd.read_csv(f'{rwa_data_path}olist_order_items_dataset.csv')
    customers = pd.read_csv(f'{rwa_data_path}olist_customers_dataset.csv')
    products = pd.read_csv(f'{rwa_data_path}olist_products_dataset.csv')
    sellers = pd.read_csv(f'{rwa_data_path}olist_sellers_dataset.csv')
    reviews = pd.read_csv(f'{rwa_data_path}olist_order_reviews_dataset.csv')
    payments = pd.read_csv(f'{rwa_data_path}olist_order_payments_dataset.csv')
    geolocation = pd.read_csv(f'{rwa_data_path}olist_geolocation_dataset.csv')

    print("All datasets loades successfully")
except FileNotFoundError as e:
    print(f"Error loading data: {e}")

All datasets loades successfully

### _2. Preview the Datasets_

In [3]:
def dataset_preview(dataset, dataset_name):
    """
    Data preview function
    
    Parameters:
    dataset (DataFrame): Dataset to assess
    dataset_name (str): Name of the dataset for reporting
    
    Returns:
    None
    """
    print(f"DATA PREVIEW: {dataset_name.upper()}")
    print('=' * 60)
    
    print(f"Column Names:\n{dataset.columns.to_list()}")
    print(f"\n5 Sample Rows:\n{dataset.head()}")

datasets = {
    'orders': orders,
    'order_items': order_items,
    'customers': customers,
    'products': products,
    'sellers': sellers,
    'reviews': reviews,
    'payments': payments,
    'geolocation': geolocation
}
for name, df in datasets.items():
    dataset_preview(df, name)
    print("\n\n")

DATA PREVIEW: ORDERS
============================================================
Column Names:
['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']

5 Sample Rows:
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00



DATA PREVIEW: ORDER_ITEMS
============================================================
Column Names:
['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']

5 Sample Rows:
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14



DATA PREVIEW: CUSTOMERS
============================================================
Column Names:
['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']

5 Sample Rows:
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP



DATA PREVIEW: PRODUCTS
============================================================
Column Names:
['product_id', 'product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

5 Sample Rows:
                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0



DATA PREVIEW: SELLERS
============================================================
Column Names:
['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state']

5 Sample Rows:
                          seller_id  seller_zip_code_prefix  \
0  3442f8959a84dea7ee197c632cb2df15                   13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914

         seller_city seller_state
0           campinas           SP
1         mogi guacu           SP
2     rio de janeiro           RJ
3          sao paulo           SP
4  braganca paulista           SP



DATA PREVIEW: REVIEWS
============================================================
Column Names:
['review_id', 'order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp']

5 Sample Rows:
                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2  228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3  e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4  f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1

   review_score review_comment_title  \
0             4                  NaN
1             5                  NaN
2             5                  NaN
3             5                  NaN
4             5                  NaN

                              review_comment_message review_creation_date  \
0                                                NaN  2018-01-18 00:00:00
1                                                NaN  2018-03-10 00:00:00
2                                                NaN  2018-02-17 00:00:00
3              Recebi bem antes do prazo estipulado.  2017-04-21 00:00:00
4  ParabÃ©ns lojas lannister adorei comprar pela I...  2018-03-01 00:00:00

  review_answer_timestamp
0     2018-01-18 21:46:59
1     2018-03-11 03:05:13
2     2018-02-18 14:36:24
3     2017-04-21 22:02:06
4     2018-03-02 10:26:53



DATA PREVIEW: PAYMENTS
============================================================
Column Names:
['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']

5 Sample Rows:
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45



DATA PREVIEW: GEOLOCATION
============================================================
Column Names:
['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng', 'geolocation_city', 'geolocation_state']

5 Sample Rows:
   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
2                         1046       -23.546129       -46.642951
3                         1041       -23.544392       -46.639499
4                         1035       -23.541578       -46.641607

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
2        sao paulo                SP
3        sao paulo                SP
4        sao paulo                SP

### _3. Assess Data Quality_

In [4]:
def assess_data_quality(dataset, dataset_name):
    """
    Data quality assessment function
    
    Parameters:
    dataset (DataFrame): Dataset to assess
    dataset_name (str): Name of the dataset for reporting
    
    Returns:
    dict: Summary of data quality metrics
    """
    print(f"DATA QUALITY REPORT: {dataset_name.upper()}")
    print('=' * 60)
    
    print(f"Shape: {dataset.shape[0]} rows x {dataset.shape[1]} columns")
    print(f"Memory usage: {dataset.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

    # Missing valuse analysis
    missing_data = dataset.isna().sum()
    missing_percent = (missing_data/len(dataset)) * 100
    missing_data_df = pd.DataFrame(
        {'Missing Count': missing_data,
         'Missing Percentage': missing_percent}).sort_values('Missing Count', ascending = False)
    if missing_data_df['Missing Count'].sum() > 0:
        print("\n Missing Valuse Found: ")
        print(missing_data_df[missing_data_df['Missing Count'] > 0])
    else:
        print("No missing valuse found.")

    # Data types
    print("\n Data Types:")
    print(dataset.dtypes.value_counts())

    # Duplicates
    duplicates = dataset.duplicated().sum()
    print(f"Duplicated rows: {duplicates}")

    return {
        'shape': dataset.shape,
        'missing_valuse': missing_data_df[missing_data_df['Missing Count'] > 0],
        'duplicates': duplicates,
        'memory_mb': dataset.memory_usage(deep=True).sum() / 1024**2
    }

datasets = {
    'orders': orders,
    'order_items': order_items,
    'customers': customers,
    'products': products,
    'sellers': sellers,
    'reviews': reviews,
    'payments': payments,
    'geolocation': geolocation
}
data_quality = {}
for name, df in datasets.items():
    data_quality[name] = assess_data_quality(df, name)
    print("\n\n")

DATA QUALITY REPORT: ORDERS
============================================================
Shape: 99441 rows x 8 columns
Memory usage: 58.97 MB

 Missing Valuse Found:
                               Missing Count  Missing Percentage
order_delivered_customer_date           2965            2.981668
order_delivered_carrier_date            1783            1.793023
order_approved_at                        160            0.160899

 Data Types:
object    8
Name: count, dtype: int64
Duplicated rows: 0



DATA QUALITY REPORT: ORDER_ITEMS
============================================================
Shape: 112650 rows x 7 columns
Memory usage: 39.43 MB
No missing valuse found.

 Data Types:
object     4
float64    2
int64      1
Name: count, dtype: int64
Duplicated rows: 0



DATA QUALITY REPORT: CUSTOMERS
============================================================
Shape: 99441 rows x 5 columns
Memory usage: 29.62 MB
No missing valuse found.

 Data Types:
object    4
int64     1
Name: count, dtype: int64
Duplicated rows: 0



DATA QUALITY REPORT: PRODUCTS
============================================================
Shape: 32951 rows x 9 columns
Memory usage: 6.79 MB

 Missing Valuse Found:
                            Missing Count  Missing Percentage
product_category_name                 610            1.851234
product_description_lenght            610            1.851234
product_name_lenght                   610            1.851234
product_photos_qty                    610            1.851234
product_weight_g                        2            0.006070
product_height_cm                       2            0.006070
product_length_cm                       2            0.006070
product_width_cm                        2            0.006070

 Data Types:
float64    7
object     2
Name: count, dtype: int64
Duplicated rows: 0



DATA QUALITY REPORT: SELLERS
============================================================
Shape: 3095 rows x 4 columns
Memory usage: 0.66 MB
No missing valuse found.

 Data Types:
object    3
int64     1
Name: count, dtype: int64
Duplicated rows: 0



DATA QUALITY REPORT: REVIEWS
============================================================
Shape: 99224 rows x 7 columns
Memory usage: 42.75 MB

 Missing Valuse Found:
                        Missing Count  Missing Percentage
review_comment_title            87656           88.341530
review_comment_message          58247           58.702532

 Data Types:
object    6
int64     1
Name: count, dtype: int64
Duplicated rows: 0



DATA QUALITY REPORT: PAYMENTS
============================================================
Shape: 103886 rows x 5 columns
Memory usage: 17.81 MB
No missing valuse found.

 Data Types:
object     2
int64      2
float64    1
Name: count, dtype: int64
Duplicated rows: 0



DATA QUALITY REPORT: GEOLOCATION
============================================================
Shape: 1000163 rows x 5 columns
Memory usage: 145.20 MB
No missing valuse found.

 Data Types:
float64    2
object     2
int64      1
Name: count, dtype: int64
Duplicated rows: 261831

### _4. Data Type Conversion and optimization_

In [5]:
def downcast_int_columns(df, dataset_name):
    """
    Downcast integer columns in a DataFrame to smaller integer types to save memory.

    Parameters
    ----------
    df : pd.DataFrame
        The DataFrame containing integer columns to optimize.
    dataset_name : str
        Name of the dataset (used for display/logging purposes).

    Returns
    -------
    pd.DataFrame
        A copy of the DataFrame with integer columns downcasted.
    
    Notes
    -----
    - Only int32 and int64 columns are downcasted.
    - Prints memory usage before and after optimization.
    """
    print(f"\nðŸ”§ DOWNCAST INT DATA TYPES: {dataset_name.upper()}")
    print("=" * 50)
    
    original_memory = df.memory_usage(deep=True).sum() / 1024**2
    print(f"Original memory usage: {original_memory:.2f} MB")
    
    # Only apply downcast to integer columns
    int_cols = df.select_dtypes(include=['int64', 'int32']).columns
    df[int_cols] = df[int_cols].apply(pd.to_numeric, downcast="integer")
    
    new_memory = df.memory_usage(deep=True).sum() / 1024**2
    print(f"New memory usage: {new_memory:.2f} MB")
    print(f"Memory reduction: {((original_memory - new_memory) / original_memory) * 100:.1f}%")

    return df

datasets = {
    'orders': orders,
    'order_items': order_items,
    'customers': customers,
    'products': products,
    'sellers': sellers,
    'reviews': reviews,
    'payments': payments,
    'geolocation': geolocation
}

for name, df in datasets.items():
    datasets[name] = downcast_int_columns(df, name)

ðŸ”§ DOWNCAST INT DATA TYPES: ORDERS
==================================================
Original memory usage: 58.97 MB
New memory usage: 58.97 MB
Memory reduction: 0.0%

ðŸ”§ DOWNCAST INT DATA TYPES: ORDER_ITEMS
==================================================
Original memory usage: 39.43 MB
New memory usage: 38.68 MB
Memory reduction: 1.9%

ðŸ”§ DOWNCAST INT DATA TYPES: CUSTOMERS
==================================================
Original memory usage: 29.62 MB
New memory usage: 29.24 MB
Memory reduction: 1.3%

ðŸ”§ DOWNCAST INT DATA TYPES: PRODUCTS
==================================================
Original memory usage: 6.79 MB
New memory usage: 6.79 MB
Memory reduction: 0.0%

ðŸ”§ DOWNCAST INT DATA TYPES: SELLERS
==================================================
Original memory usage: 0.66 MB
New memory usage: 0.65 MB
Memory reduction: 1.8%

ðŸ”§ DOWNCAST INT DATA TYPES: REVIEWS
==================================================
Original memory usage: 42.75 MB
New memory usage: 42.08 MB
Memory reduction: 1.5%

ðŸ”§ DOWNCAST INT DATA TYPES: PAYMENTS
==================================================
Original memory usage: 17.81 MB
New memory usage: 16.43 MB
Memory reduction: 7.8%

ðŸ”§ DOWNCAST INT DATA TYPES: GEOLOCATION
==================================================
Original memory usage: 146.09 MB
New memory usage: 142.27 MB
Memory reduction: 2.6%

In [6]:
def convert_to_datetime(dataset, columns, format=None, errors='coerce'):
    """
    Convert specified columns of a DataFrame to datetime.

    Parameters
    ----------
    dataset : pd.DataFrame
        DataFrame containing the columns to convert.
    columns : list of str
        Column names to convert to datetime.
    format : str, optional
        Datetime format (default: None, auto-infer).
    errors : str, optional
        How to handle errors: 'raise', 'coerce', or 'ignore' (default: 'coerce').

    Returns
    -------
    pd.DataFrame
        A copy of the DataFrame with the specified columns converted to datetime.
    """
    dataset = dataset.copy()
    for col in columns:
        dataset[col] = pd.to_datetime(dataset[col], format=format, errors=errors)
    return dataset

In [7]:
orders_dateime_cols = ['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date',
                       'order_delivered_customer_date', 'order_estimated_delivery_date']

order_items_datetime_cols = ['shipping_limit_date']
reviews_datetime_cols = ['review_creation_date', 'review_answer_timestamp']

In [8]:
# Orders date time data type conversion
print(f"Before:\n{orders[orders_dateime_cols].dtypes}")
orders_clean = convert_to_datetime(orders, orders_dateime_cols)
print(f"\nAfter:\n{orders_clean[orders_dateime_cols].dtypes}")

Before:
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

After:
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [14]:
# Order_items date time data type conversion
print(f"Before:\n{order_items[order_items_datetime_cols].dtypes}")
order_items_clean = convert_to_datetime(order_items, order_items_datetime_cols)
print(f"\nAfter:\n{orders_items_clean[order_items_datetime_cols].dtypes}")

Before:
shipping_limit_date    object
dtype: object

After:
shipping_limit_date    datetime64[ns]
dtype: object

In [10]:
# reviews date time data type conversion
print(f"Before:\n{reviews[reviews_datetime_cols].dtypes}")
reviews_clean = convert_to_datetime(reviews, reviews_datetime_cols)
print(f"\nAfter:\n{reviews_clean[reviews_datetime_cols].dtypes}")

Before:
review_creation_date       object
review_answer_timestamp    object
dtype: object

After:
review_creation_date       datetime64[ns]
review_answer_timestamp    datetime64[ns]
dtype: object

### _5. Handling Missing Values_

We only have missing datas from two tables (orders and reviews)

In [11]:
# Clean Orders dataset
print(f"Before: {orders_clean.isna().sum().sum()} NaNs")
orders_clean = orders_clean.dropna(subset = ['order_approved_at'])
orders_clean = orders_clean.fillna({'order_delivered_customer_date': 'unkown', 'order_delivered_carrier_date': 'unknown'})
print(f"After: {orders_clean.isna().sum().sum()} NaNs")

Before: 4908 NaNs
After: 0 NaNs

In [12]:
# Clean Reviews dataset
print(f"Before: {reviews_clean.isna().sum().sum()} NaNs")
reviews_clean  = reviews_clean.fillna({'review_comment_title': 'No Title', 'review_comment_message': 'No Message'})
print(f"After: {reviews_clean.isna().sum().sum()} NaNs")

Before: 145903 NaNs
After: 0 NaNs

### _6. Creating Master Dataset_

In [19]:
def create_master_dataset(orders_df, items_df, customers_df, reviews_df, payments_df):
    """
    Create a master dataset by intelligently joining related tables
    """
    print("\nCREATING MASTER DATASET")
    print("=" * 30)

    # Start with orders as the base
    master = orders_df.copy()
    print(f"Starting with orders: {len(master)} records")

    # Adding customer information
    master = master.merge(customers_df, on = 'customer_id', how = 'left')
    print(f"After adding customers: {len(master)} records")

    # Add order items
    items_agg = order_items.groupby('order_id').agg({
        'price': ['sum', 'count', 'mean'],
        'freight_value': 'sum',
        'product_id': 'nunique'
    }).round(2)

    # Flatten column names
    items_agg.columns = ['_'.join(col).strip() for col in items_agg.columns.values]
    items_agg = items_agg.reset_index()

    master = master.merge(items_agg, on = 'order_id', how = 'left')
    print(f"After adding order items: {len(master)} records")

    # Add reviews scores
    reviews_agg = reviews_df.groupby('order_id').agg({
        'review_score': 'mean'
    }).round(2).reset_index()
    
    master = master.merge(reviews_agg, on='order_id', how='left')
    print(f"After adding reviews: {len(master)} records")
    
    # Add payment information
    payments_agg = payments_df.groupby('order_id').agg({
        'payment_value': 'sum',
        'payment_installments': 'max'
    }).reset_index()
    
    master = master.merge(payments_agg, on='order_id', how='left')
    print(f"Final master dataset: {len(master)} records")
    
    return master

# Create the master dataset
master_dataset = create_master_dataset(
    orders_clean, order_items_clean, customers, 
    reviews_clean, payments.copy()
)

CREATING MASTER DATASET
==============================
Starting with orders: 99281 records
After adding customers: 99281 records
After adding order items: 99281 records
After adding reviews: 99281 records
Final master dataset: 99281 records

### _7. Save Processed data_

In [25]:
print("Saving Processed Data")
print('=' * 60)

datasets_to_save = {
    'orders_clean': orders_clean,
    'customers_clean': customers,
    'order_items_clean': order_items_clean,
    'reviews_clean': reviews_clean,
    'master_dataset': master_dataset
}

for name, df in datasets_to_save.items():
    filepath = f'{processed_data_path}{name}.csv'
    df.to_csv(filepath, index=False)
    print(f"Saved {name}: {df.shape[0]:,} rows Ã— {df.shape[1]} columns")

print(f"\n All processed data saved to: {processed_data_path}")

Saving Processed Data
============================================================
Saved orders_clean: 99,281 rows Ã— 8 columns
Saved customers_clean: 99,441 rows Ã— 5 columns
Saved order_items_clean: 112,650 rows Ã— 7 columns
Saved reviews_clean: 99,224 rows Ã— 7 columns
Saved master_dataset: 99,281 rows Ã— 20 columns

 All processed data saved to: ../data/processed/